NODE_ENV=development
PORT=5000

MONGO_URI=mongodb://127.0.0.1:27017/accesshub_dev

CLIENT_URL=http://localhost:5173

ACCESS_TOKEN_SECRET=change_this_access_secret
REFRESH_TOKEN_SECRET=change_this_refresh_secret

ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

COOKIE_SECURE=false
COOKIE_SAME_SITE=lax

SUPER_ADMIN_NAME=Super Admin
SUPER_ADMIN_EMAIL=admin@example.com
SUPER_ADMIN_PASSWORD=Admin@12345